@model WebPortal.Models.UserAccountViewModel
@using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { id = "deleteform" }))
{
    @Html.AntiForgeryToken()
    <h3 class="col-md-offset-1 ">Are you sure you want to block this?</h3>
    <dl class="col-md-offset-1 dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            <div class="well well-sm">
                @Html.DisplayFor(model => model.Username)
            </div>
        </dd>

        <dt>
            @Html.Label("Full Name")
        </dt>

        <dd>
            <div class="well well-sm">
                @Html.Label(string.Format("{0} {1} {2}", Model.FirstName, Model.MiddleInitial, Model.LastName))
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <div class="well well-sm">
                @Html.DisplayFor(model => model.Email)
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            <div class="well well-sm">
                @Html.DisplayFor(model => model.Mobile)
            </div>
        </dd>
        <dt>
            <i class="glyphicon glyphicon-option-horizontal" style="font-size: 40px;"></i>
        </dt>
        <dd>
            <div class="well">
                <i class="glyphicon glyphicon-option-horizontal" style="font-size: 40px;padding: 0;margin: 0;"></i>
            </div>
        </dd>
    </dl>
}
<script>
    $(function () {
        $("#deleteform").on('submit', function (ev) {
            ev.preventDefault();
            var data = {
                "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val()
            };
            $.post("@Url.Action("Delete", "Users")", data).done(function (response) {
                if (response !== "undefined" && response === "OK") {
                    $("#deleteModal").modal('hide');
                    $row.addClass("danger");
                    setTimeout(function () {
                        $row.removeClass("danger");
                    }, 1000);
                } else {
                    $("#delBody").html(response);
                }
            });
        });
    });
</script>
