@model WebPortal.Models.RoleModel
@using (Html.BeginForm("Role", "Users", FormMethod.Post, new {id = "editform"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.Roles, new {@class = "control-label  col-md-4"})
        <div class="col-md-8">

            @Html.DropDownListFor(model => model.Roles, Model.Roles, new {@class = "form-control"})
            <input type="button" value="Add" />
            <input type="button" value="Remove" />
            <br />
            @Html.LabelFor(model => model.UserRoles, new {@class = "control-label  col-md-4"}) <br />
            @Html.ListBoxFor(model => model.Roles, new MultiSelectList(Model.UserRoles, "Value", "Text"), new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Roles, "", new {@class = "text-danger"})

        </div>
    </div>
}