@model WebPortal.Models.TransferOwnModel
<div class="form-group">
    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AccountFromID, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.AccountFromID, Model.MyAccounts, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AccountFromID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AccountToID, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.AccountToID, Model.MyAccounts, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AccountToID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.Currency, Model.Currencies, "Select Currency", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>
</div>

