<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DSA Bank PLC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("DSA Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                @{Html.RenderAction("_Menu", "Navigation");}
            </div>
        </nav>
    </header>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="#">Website</a></li>
                    <li class="active">Home</li>
                </ol>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <h4>@Html.Partial("_Greeting")</h4>
            </div>
        </div>
        @RenderBody()
        <hr />
        @Html.Partial("_FooterInfo")
        <hr />
        <footer>
            <p>
                <a href="#">Nathan Zwelibanzi Khupe</a> &copy; 2015
            </p>
        </footer>
    </div>
    <noscript>
        <div>
            <h2>
                This site requires JavaScript
            </h2>
        </div>
    </noscript>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
